{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h2>Lista de Produtos</h2>
        <div class="lits-items">
            {% if produtos %}
            <table class="table-produtos">
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Editar</th>
                    <th>Apagar</th>
                </tr>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>R$ {{ produto.preco }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td> <a href="{{ url_for('editar', id_produto=produto.id) }}"><i class="fa-solid fa-pen"></i></a> </td>
                        <td> <a onclick="deletar('{{ url_for('deletar', id_produto=produto.id) }}')"><i class="fa-solid fa-trash"></i></a> </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <div style="text-align: center">
                <p style="margin-bottom: 4px">Não há produtos Cadastrados</p>
                <a href="{{ url_for('cadastrar') }}" class="link-cadastro">Clique Aqui para cadastrar novos produtos</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}